#app-header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
